<%= link_to "View Pokemon", "/pokemons" %>
<%= link_to "View Trainers", "/trainers" %>

<h1><%= @trainer.name%>'s Pokemon:</h1>


<% @trainer.pokemons.each do |pokemon| %>
<h3><%= pokemon.name %></h3>
<p>Base Hp: <%= pokemon.base_hp %></p>
<p>Currently in battle? <%= pokemon.in_battle %></p>
<% end %>
