<%= link_to "View Pokemon", "/pokemons" %>
<%= link_to "View Trainers", "/trainers" %>

<h1>trainer info:</h1>

<p>Name: <%= @trainer.name %></p>
<p>Age: <%= @trainer.age %></p>

<p>Pokedex certified? <%= @trainer.certified %></p>

<p>Number of Pokemon: <%= @trainer.pokecount %></p>
